@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
* {
	margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e4e4e4;
}
.form h1 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    color:#ff5e00;
	margin-bottom: 1.5rem;
}
.form {
    width: 400px;
    height: auto;
    background-color: white;
    padding: 2rem;
    max-width: 350px;
    border-radius: 50px 5px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	
}

.form-control {
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}
.form-control input {
    width: 100%;
    height: 45px;
    border: none;
    border-bottom: #ff5e00 2px solid;
    outline: none;
}

.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.form button {
    background-color: #ff5e00;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    border: none;
}
.form button:hover{
	background: white;
    border: #ff5e00 solid 1px;
    color: #ff5e00;
    transition: 0.3s;;
}
.form p {
    text-align: center;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: .5rem;
}
.form p a {
    color: #ff5e00;
}
.form p a:hover{
    color: black;
    font-size: 15px;
    transition: 0.3s;
}